.loader {
    text-align: center;
    padding-top: 100px;
    display: none;
    &_global {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, .5);
        z-index: 100000000;
        padding: 0;
        top: 0;
        left: 0;
        & .ant-spin {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -16px;
            margin-top: -16px;
        }
    }
    &_show {
        display: block;
    }
}